@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000108;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Footer specific styles */
.footer {
  background-color: #000;
  color: white;
  padding: 2rem;
}

.footer img {
  height: auto;
  max-height: 180px; /* Adjust based on your design */
  width: auto;
  max-width: 180px; /* Adjust based on your design */
}

.footer p,
.footer ul {
  margin-top: 0.5rem;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-top: 0.5rem;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer form {
  display: flex;
  margin-top: 1rem;
}

.footer form input {
  padding: 0.5rem;
  border-radius: 0.25rem 0 0 0.25rem;
  border: none;
  outline: none;
}

.footer form button {
  background-color: #2563eb;
  color: white;
  padding: 0.5rem;
  border-radius: 0 0.25rem 0.25rem 0;
  border: none;
  cursor: pointer;
}

.footer form button:hover {
  background-color: #1d4ed8;
}

.footer .social-icons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.footer .social-icons img {
  width: 1.5rem;
  height: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: #000;
}

.bg-gray-100 {
  background-color: #000108;
}

.bg-blue-600 {
  background-color: #2563eb;
}

.bg-blue-700 {
  background-color: #1d4ed8;
}
.text-white-500 {
  color: #fbfcff;
}
.text-gray-500 {
  color: #6b7280;
}

.text-gray-700 {
  color: #374151;
}

.text-gray-900 {
  color: #111827;
}

.backdrop-blur {
  backdrop-filter: blur(2px);
}

@media (max-width: 768px) {
  .hidden {
    display: none !important;
  }
  
  .flex {
    display: flex !important;
  }
}

.fixed {
  position: fixed;
  top: 4px;
  width: calc(100% - 2rem); /* Reduced width for margin */
  z-index: 10;
}

.transition-all {
  transition: all 0.3s ease;
}

.bg-opacity-70 {
 /* opacity: 0.7;*/
}

.border-gray-300 {
  border-color: #d1d5db;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.navbar-button {
  color: white; /* Corrected */
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: border-color 0.3s;
}

.navbar-button:hover {
  border-color: rgba(93, 93, 93, .64);;
  ;
}
.bg-dark-blue-500{
  background-color: #084f7f; 
}
.bg-dark-blue-700{
  background-color: #083c5f; 
}
.nav-padding{

  background-color: rgb(231, 229, 229,0.1);
}

.navbar-logo {
  height: auto;
  max-height: 180px; /* Adjust based on your design */
  width: auto;
  max-width: 180px; /* Adjust based on your design */
}

.smaller-nav{
  max-width: 89vw;
  margin: 0 auto;
}


.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.h-full {
  height: 100%;
}

.pt-16 {
  padding-top: 4rem;
}

.mt-16 {
  margin-top: 4rem;
}

.max-w-7xl {
  max-width: 80rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sm\:px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.lg\:px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.sm\:flex {
  display: flex;
}

.sm\:justify-center {
  justify-content: center;
}

.md\:mt-8 {
  margin-top: 2rem;
}

.md\:text-lg {
  font-size: 1.125rem;
}

.md\:max-w-3xl {
  max-width: 48rem;
}

.bg-opacity-70 {
  background-opacity: 0.7;
}

.rounded-md {
  border-radius: 0.375rem;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.text-gray-900 {
  color: #1a202c;
}

.text-gray-500 {
  color: #6b7280;
}

.hover\:bg-blue-700:hover {
  background-color: #1d4ed8;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.border {
  border-width: 1px;
  border: 1px solid rgba(93, 93, 93, .64);

}

.text-base {
  font-size: 1rem;
}

.font-medium {
  font-weight: 500;
}

.md\:py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.md\:text-lg {
  font-size: 1.125rem;
}

.md\:px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.sm\:mt-0 {
  margin-top: 0;
}

.sm\:ml-3 {
  margin-left: 0.75rem;
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.md\:grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.lg\:grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.sm\:grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gap-8 {
  gap: 2rem;
}

.overflow-hidden {
  overflow: hidden;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.rounded-lg {
  border-radius: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.sm\:p-6 {
  padding: 1.5rem;
}

/* New CSS for the section titles */
.section-title-box {
  display: inline-block;
  padding: 0.25rem 1rem;
  border: 1px solid rgba(93, 93, 93, .64);
  border-radius: 0.375rem;
}

.section-title {
  color: white;
  font-size: 1.5rem;
}

/* New CSS for cards */
.card {
  background-color: rgba(211, 211, 211, 0.1); /* Light gray with opacity */
  backdrop-filter: blur(10px); /* Blur effect */
  color: white; /* White text */
  border-radius: 0.5rem; /* Rounded corners */
  padding: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(93, 93, 93, .64);;

}

/* CSS for Get Started button */
.get-started-button {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: transparent;
  border-radius: 0.375rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  
  border: 1px solid rgba(93, 93, 93, .64);;

}

.arrow {
  margin-left: 0.5rem;
}
/* New CSS for "Coming soon" label */
.coming-soon {
  background-color: rgba(255, 255, 255, 0.2); /* Light gray with some transparency */
  color: white;
  font-size: 0.75rem; /* Smaller font size */
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  display: inline-block;
}
@media (max-width: 768px) {
  .footer .flex {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer .flex > * {
    width: 100%;
    margin-bottom: 2rem;
  }

  .footer .social-icons {
    justify-content: flex-start;
  }
}


.transparent-form{
  background-color: transparent;
    border: 1px solid rgba(93, 93, 93, .64);
    margin-right: 5px;
    border-radius: 0.375rem;

}

.rounded-sub{
  border-radius: 0.375rem;
}

.color-sub{
  background-color: transparent;
  border: 1px solid rgba(93, 93, 93, .64);

}

.color-sub:hover{
  background-color: rgba(93, 93, 93, .64);
}
.h_learn:hover{
  background-color: rgba(93, 93, 93, .64);

}

.T_bg{
  background-color: transparent;
}

.sub-brd{
  background-color: #d1d5db;
}

.txt{
  color:white;
}

.form-outer{
  border: solid 1px gray;
  border-radius: 0.375rem;
  max-width: 75%;
  padding: 48px;
  background-color: rgba(61, 61, 61, .3);
}

.form-field{
  border: solid 1px gray;
  border-radius: 0.375rem;
  background-color: rgba(61, 61, 61, .3);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  min-height: 50px;
  margin-bottom: 12px;
  padding: 12px 16px;
  transition: border-color .3s;
}

.w-input:focus, .w-select:focus {
  border-color: #461fb0;
  outline: 0;
}

.form-button:hover{
  transform: scale(.95);
}
.form-button{
  transition: background-color .3s, border-color .3s, transform .3s;
}